.bottom-container {
  background: linear-gradient(180deg, #6ABECA 0%, rgba(58, 98, 104, 0.57) 100%),url("../../resources/images/sun_background.jpg") center no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}